name: Build
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonarqube:
    name: SonarQube
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Java (required for Android builds)
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'   
      - name: Download Sonar build-wrapper
        run: |
          curl -L -o bw.zip https://sonarcloud.io/static/cpp/build-wrapper-macosx.zip
          unzip bw.zip          
      - name: Setup Flutter SDK
        uses: flutter-actions/setup-flutter@v4
        with:
          channel: stable
          # Caches the Flutter SDK and dependencies automatically
          cache: true 
          # Optional: specify cache key to avoid conflicts between different jobs/workflows
          cache-key: 'flutter-{platform}-{channel}-{architecture}-{hash}' 

      - name: Install dependencies
        run: flutter pub get
      - name: Build App
        run: flutter build
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
